.App {
    font-family: sans-serif;
    text-align: center;
    width: fit-content
  }

  section {
    display: grid;
    /* place-items: center; */
    font-weight: bold;
    padding-top: 80px;
    min-width: 320px;
  }

  /* #about {
    margin-top: -80px;
  } */

  #projects,
  #contact {
    color: #3b3b3c;
    background: #eaf2fa;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    font-weight: bold;
    top: -5px;
    color: rgb(126,126,129);
    z-index: 2;
    height: 70px;
    min-height: 70px;
    background-color: rgb(32,32,42);
    min-width: 254px;
    padding: 0 1rem;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  }

  .nav__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;

  }

  .nav__container__actions {
    display: inline-flex;
    flex-flow: row nowrap;
    text-align: center;
    flex: 1;
    padding-right: 30px;
  }

  .active {
    font-weight: bolder;
    color: #eaf2fa;
    text-align: center;
  }

  .nav__container__actions ul {
    display: flex;
    gap: 1rem;
    font-size: 1.1rem;
    list-style: none;
  }

  .nav__container__actions li {
    cursor: pointer;
    text-align: left;
   padding: 1px 5px;
  }

  .nav__container__actions li:hover {
    text-decoration: underline;
    color: whitesmoke;
  }
